@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 


 .errors{
    color: red;
    font-size: xx-small;
}

.fonts{
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
}

.InputDiv{

    display:grid;
    margin: 20px;
} 

.buttonX{
    margin-top: 20px;
    display: flex;
    width:fit-content;
}

.delete{
    margin-top: 50px;
    display:flex;
} 

.createButton{
    float: right;
}